################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DocworksCmsQA/v15

/packages/*.*
/DocworksCmsQA/obj/*.*
/DocworksCmsQA/bin/*.*
/DocworksCmsQA/obj/Debug/DocworksCmsQA.csprojAssemblyReference.cache
/DocworksCmsQA/bin/Debug/DocworksCmsQA.dll
/DocworksCmsQA/bin/Debug/DocworksCmsQA.dll
/DocworksCmsQA/obj/Debug/DocworksCmsQA.dll
/DocworksCmsQA/obj/Debug/DocworksCmsQA.dll